body{
    background-color: gainsboro;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;   
}

.header{
      font-size: 25px;
}

.Duolingo{
    text-align: left;
    font-size: 22px;
    padding: 30px;
}

#img-web{
    width: 750px;

}

.Lyrics-Training{
    text-align: left;
    font-size: 22px;
    padding: 30px;
}

#img-web1{
    width: 750px;
}

.Busuu{
    text-align: left;
    font-size: 22px;
    padding: 30px;
}

#img-web2{
    width: 750px;
}

.Memrise{
    text-align: left;
    font-size: 22px;
    padding: 30px;
}

#img-web3{
    width: 750px;
}

.Lingualia{
    text-align: left;
    font-size: 22px;
    padding: 30px;
}

#img-web4{
    width: 750px;
}

